.buttonBaket{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: $neutral-primary;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
  &:hover{
    background: $primary-color ;
  }
  &__buttonIcon{
    display: block;
    margin-left: 13px;
    path{
      fill: #fff;
    }
  }
  &_mini{
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 0;
    .buttonBaket__buttonIcon{
      width: 21px;
      height: 21px;
      display: block;
      margin-left: 9px;
    }
  }
}