.sharesSlider{
  position: relative;
  margin-top: 44px;
  &__prev{
    left: -70px;
    width: 58px;
    height: 58px;
    background: transparent;
    transition: 0.3s;
    &:after{
      color: $primary-color;
    }
    &:hover{
      background: $primary-color;
      &:after{
        color: #fff;
      }
    }
  }
  &__next{
    right: -70px;
    width: 58px;
    height: 58px;
    background: transparent;
    transition: 0.3s;
    &:after{
      color: $primary-color;
    }
    &:hover{
      background: $primary-color;
      &:after{
        color: #fff;
      }
    } 
  }
}